@model Oponeo.CustomerManagementMVC.WebApp.Models.IocTest

<h4>Instancje 1:</h4>
<ul>
    <li>Scoped1 : @Model.ScopedGuid1</li>
    <li>Transient1 : @Model.TransientGuid1</li>
    <li>Singleton1 : @Model.SingletonGuid1</li>
</ul>


<h4>Instancje 2:</h4>
<ul>
    <li>Scoped2 : @Model.ScopedGuid2</li>
    <li>Transient2 : @Model.TransientGuid2</li>
    <li>Singleton2 : @Model.SingletonGuid2</li>
</ul>